@page
@model StoreAppWeb.Pages.ComplatedModel
@{
}
<div class="container text-center mt-5">
    <h2>Teşekkürler!</h2>
    <p>Siparişiniz başarıyla alınmıştır. Sipariş numaranız: <strong>#@Model.OrderId</strong>.</p>
    <p>Siparişiniz en kısa sürede adresinize gönderilecektir.</p>
    <a href="/" class="btn btn-dark">Ana Sayfa</a>
</div>