@model IQueryable<CategoryViewModel>
@{
}
<div class="d-grid gap-1">
    <a href="/" class="@(ViewBag.SelectedCategory ==null ?"btn btn-sm btn-dark":"btn btn-sm btn-outline-dark")">AnaSayfa</a>
    <hr/>
    @foreach (var category in Model)
    {
        <h6>
            <a asp-controller="Home" asp-action="Index" asp-route-category="@category.Url" class="@(ViewBag.SelectedCategory == category.Url?"btn btn-sm btn-dark w-100":"btn btn-sm w-100 btn-outline-dark")">
                @category.Name
            </a>
            </h6>
        <hr/>
    }
</div>
